.competeblock {
position:relative;
padding:3px;
font-family: raleway black;
}

.textred {
color:red;
}

.fonts {
color:#090001;
}

.compete-circle-l {
position: absolute;
    top: -3%;
    left: 1%;
    border-radius: 200px;
    width: 40%;
    background-color: red;
    color: white;
    padding: 9%;
    font-size: 15px
}
.compete-circle-s {
position: absolute;
    bottom: 1.5%;
    left: 72%;
    border-radius: 200px;
    width: 25%;
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 5.6%;

}
.competetotal {
background-color:red;
color: white;
padding:12px;
}


.center-block {

    margin-left: auto;
    margin-right: auto;
 }
 .size {
 width:100%;
 height:100%;
 }

.dashh4 {
    font-family: raleway black;
}

.h4nomarg {
margin-top:11px;
margin-bottom:3px;
}

.noleft {
padding-left:0px !important;
}
.noright {
padding-right:0px !important;
}
.dashheight {
margin-bottom:5px;
}

.p-dashlist {
font-size:0.8em;
margin-bottom:0px;
}

.dashimg {
max-height:230px;
}

.dashinline {
font-family: raleway black;
}

.black{
background-color: #090001;
padding-top:3px;
padding-bottom:3px;
}

.dashmd6 {
padding:15px;
}

.coltainer {
padding-left:0px;
padding-right:3px;
margin-bottom:3px;
}

.group {
margin-bottom:5px;
}

.whiteblock {
padding-left:0px;
font-family: raleway black;
}
.white {

color:white;
}

.liltable {
margin-top: -12px;
}

.ralegray {
font-size: 0.8em;
}

.raleleft {
font-size: 0.9em;
}

.raleblack {
color: #090001;
padding-left:0px;

}

.dashnum {
color: #090001;
font-size: 1.5em;
padding-left:3px;
}

.red{
background-color:red !important;
}

.db_top {
font-family: raleway black;
color: white;
font-size:0.8em;
width:100%
}
.db_mid {
font-family: raleway black;
color: white;
font-size:2em;
width:100%
}

.db_bot {
font-family: raleway black;
color: white;
font-size:0.7em;
width:100%
}

.se_hr {
border-width: 5px;
width:100%

}

.db_alt_middle {
font-size:1.5em;
}

.db_alt_top {
font-size:0.7em;
}
.db_alt_bot{
font-size:0.7em;
}
.db_art_bot{
font-size:0.8em;
}

.nopad {
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
}

.rightline {
border-right: solid 3px gray;
}
.leftline {
border-left: solid 3px gray;
}

.max480 {
max-width:480px;
}

#dashdrop {
padding-left:none;
padding-top:10px;
padding-bottom:10px;
}
.tt-suggestion {
background-color:white;
}

.social [class*="fa fa-"] {
    background-color: black;
    border-radius: 12px;
    color: white;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    margin: auto 1px;
    width: 12px;
    font-size: 8px;
    text-align: center;
}





   .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #090001;
        border-color: #090001;
    }

    .panel-title {
        font-size: 14px;
        display: block;
        padding: 5px;
        height: 40px;
    }

    .panel-title > a {

        text-decoration: none;

    }

    .more-less {
        float: right;
        color: #fff;
        padding-top: 9px;
        padding-right: 10px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    select.form-control {
      font-family: raleway black;
  margin-bottom: 0px;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #fff;
  background-color: #090001;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

select.form-control option {
  font-family: raleway black;
  margin-bottom: 0px;
  color: #fff;
  background-color: #090001;
}

div.circle-avatar{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a circle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimension to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}



@media only screen and (max-width: 768px) {
    .competetotal {
        padding:21px;
    }
}


